.wrapperProgressBar{
    .complete{
        width:200px;
        font-size: 14px;
        color: rgb(120,129,136);
    }
    min-width: 450px;
    max-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding:15px;
    .IconProgressBar{
        padding: 7px;
        margin-right: 15px;
        background-color: rgb(235, 241, 253);
        border-radius: 15px;
    }
    .wrapperBar{
        width: 100%;
        height: 42px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 15px;
        .NameProgressBar{
            font-weight: bold;
            font-size:  18px;
        }
    
    .ProgressBar {
    width: 100%;
    background-color: #ddd;
    border-radius: 3px;
    .Progress {
       
        height: 6px;
        background-color: #365EFD;
        border-radius: 3px;
      }
  }
}
} 
  