@import '../../../scss/variables';

.header{
display: flex;
align-items: center;
justify-content: space-between;
height: 70px;
border-bottom: 2px solid rgb(240,239,242);
>button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
};
}