
.HeaderBoard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 2px solid rgb(240,239,242);
    align-items: stretch;
    .menu1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .menuButton{
            button{
                padding:20px;
            }
        }
    }
    .menu2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        .wrapperButtonAddAndUsers{
            display: flex;
            align-items: center;
        }
        .ButtonAddMembers{
            padding:0 20px;
            div{
                margin:0;
            }
     
        }
        .buttonAddColumn{
            background-color: #fff;
            border: 1px dashed rgba(54, 94, 253, 0.9);
            border-radius: 5px;
            padding:8px;
            margin-right: 20px;
            width: 170px;
            color:rgba(54, 94, 253, 0.9);
        }
        .buttonAddColumn:hover{
            cursor: pointer;
            border: 1px solid rgba(54, 94, 253, 0.9);
        }
    }
    .ButtonAddMembers>div>button{
        background-color: rgba(54, 94, 253, 0.9);
        color: #fff;
        font-weight: normal;
        min-width: 170px ;
        padding:10px;
    }
    .ButtonAddMembers>div>button:hover{
        background-color: rgba(54, 94, 253, 0.6);
    }
    div>div{
        button{
        border:none;
        background-color: transparent;
        padding: 8px;
        font-weight: bold;
        }
        button:hover{
            cursor: pointer;
        }
      
    }   
    div>.menuButton>.active{
        border-bottom: 2px solid #365EFD !important;
        color:rgb(52, 95, 252) !important;
    }
    div>.viewButton{
      padding: 0 20px;
      display: inline-flex;
      button{
        display: flex;
        flex-direction: row;
        align-items: center;
        svg{
            margin-right: 7px;
        }
        
      }
      button:nth-child(2){
        svg{
            opacity: 0.5;
        }
        
    }
    }
    .viewButton>:nth-child(2){
        text-decoration: line-through;
        color: #a7a5a5 !important;
    }
    div>.viewButton>.active{
        border-radius:10px;
        background-color: rgb(237, 241, 253) !important;
        color:rgb(52, 95, 252) !important;
    }
    
}

.wrapperCards{
    width: 100% !important;
    padding: 0 5px;
    background-color: rgb(247,247,247);
}
.wrapperBoard{
    div.wrapperDragableCard{
        width: 100%;
    }
    .noneContent{
        width: 100%;
        height: 100vh;
        background-color:  rgb(247,247,247);
    }
form{
    div{
margin:0;
    button{
        padding:14px;
        border-radius: 10px;
        border:none;
       
    color:#fff;
    background-color: rgba(6, 50, 228, .4);
    }
    button:hover{
        background-color: rgba(6, 50, 228, .7);
        color:#fff;
    }
}
}
}
.buttonConfirm{
        border:none;
        border-radius: 5px;
        margin: 20px 0 0 0;
        padding: 10px;
        color: #fff;
        width: 100%;
        font-weight: bold;
    &:hover{
        cursor: pointer;
    }
    
        background-color: rgba(19, 190, 158, 0.5);
    
    &:hover{
        background-color: rgba(19, 190, 158, .9);
    }
}
